.Header{
    height: 200px;
    background-color:#F21010;
    padding: 3px;
    width: 100%;
    margin: auto;
    display: flex;
    
    
}

.H1{
    font-family: 'Nosifer', cursive;
    font-size: 50px;
    text-align: center;
    position: relative;
    bottom: 170px;
    
}

.H5{
    font-size: 25px;
    text-align: end;
    margin-right: 20px;
    position: relative;
    bottom:150px ; 
}

.Image{
    height: 200px;
    width: 350px;
    border-radius: 500px;
    margin-top: 1px;
    margin-left: 20px;
   
    
}

.FaceBook{
    height: 150px;
    width:  150px;
    border-radius: 5px;
    margin-right: 20px;
    position: absolute;
    left: 80%;
    top: -2%;
   

}



.Instagram{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    margin-left: 20px;
    position: absolute;
    left: 85%;
    top: -2%;
   

}

.Twitter{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    margin-left: 20px;
    position: absolute;
    left: 73%;
    top: -2%;
    

}
  
  
  
  

 