.Header{
    height: 200px;
    background-color:#F21010;
    padding: 3px;
    width: 100%;
    margin: auto;
    
    
}

.H1{
    font-family: 'Nosifer', cursive;
    font-size: 50px;
    text-align: center;
    position: relative;
    bottom: 170px;
    animation: bounce 1s 5s 1  both;
    
}

.H5{
    font-size: 25px;
    text-align: end;
    margin-right: 20px;
    position: relative;
    bottom:150px ; 
}

.Image{
    height: 200px;
    width: 350px;
    border-radius: 500px;
    margin-top: 1px;
    margin-left: 20px;
    animation: bounceIn 8s  1 ease-in-out;
    
}

.FaceBook{
    height: 150px;
    width:  150px;
    border-radius: 5px;
    margin-right: 20px;
    position: absolute;
    left: 80%;
    animation: rotation 5s 5s 2 linear;

}



.Instagram{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    margin-left: 20px;
    position: absolute;
    left: 85%;
    animation: rotation 5s 10s 1 linear;

}

.Twitter{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    margin-left: 20px;
    position: absolute;
    left: 73%;
    animation: rotation 5s 3 linear;

}
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(359deg);
    }
    
  }

  @keyframes slide{
    0%{
      opacity: 0;
      transform: scale(0.3) translate3d(0,0,0);
    }
    50%{
      opacity: 0.9;
      transform: scale(1);
    }
    80%{
      opacity: 1;
      transform: scale(0.89);
    }
    100%{
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
    }
  }
  
  @keyframes bounceIn {
    0% { 
       opacity: 0; 
       transform: scale(.3);
    }
    50% { 
       opacity: 1;
       transform: scale(1.05);
    }
    70% {
       transform: scale(.9);
    }
    100% {
       transform: scale(1);
    }
 } 

 @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    } 
    40% {
        transform: translateY(-30px);
    } 
    60% {
        transform: translateY(-15px);
    } 
 } 